<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Parallel test suite" parallel="classes" thread-count="2">
            <test name="Regression 2">
        <parameter name="myBrowser" value="chrome"/>
        <classes>
            <class name="AOF.TestParallel" />
            <class name="AOF.TestParallel2" />
        </classes>
    </test>
 
</suite>